@model IEnumerable<ProjectDipMVC.Models.SectionsProjectIndex>

@{
    ViewData["Title"] = "Секции";
}

<h1>Секции</h1>
@if (!Model.Any() || Model.FirstOrDefault() == null)
{
    <p style="color:red">
        У вас нет назначеных проектов!
    </p>
    
}else{
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Проект
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Section_Name)*@
                Название задания
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Section_Number)*@
                Номер задания
            </th>            
            <th>
                @*@Html.DisplayNameFor(model => model.NameSections)*@
                Название секции
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumberSections)*@
                Номер секции
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NameFileSections)*@
                Файл секции
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section_Number)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.NameSections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFileSections)
            </td>            
            <td>
                @{
                    var actNameCreateOrEdit = (null == item.SectionsId) ? "Создать" : "Изменить";
                    object routeValCreateOrEdit = (null == item.SectionsId)
                        ? new { ProjDscrptId = item.ProjDscrptId }
                        : new { ProjDscrptId = item.ProjDscrptId, SectionsId = item.SectionsId };
                    var isVisibility = null != item.SectionsId ? "visible" : "hidden";
                    var separator = null != item.SectionsId ? "|" : string.Empty;

                    var myLink = (null == item.SectionsId) ? ("SectionsProjects/create?ProjDscrptId=" + item.ProjDscrptId) : ("SectionsProjects/edit/" + item.SectionsId);
                }
                @*@Html.ActionLink("Изменить", actNameCreateOrEdit, "SectionsProjects", routeValCreateOrEdit)*@



                <a href="@myLink">@actNameCreateOrEdit</a>
                @*<a asp-action="Edit" asp-route-id="@item?.SectionsId">Edit</a>*@
                @separator
                <a asp-action="Details" asp-route-id="@item?.SectionsId" style="visibility:@isVisibility">Подробности</a>
                @separator <a asp-action="Delete" asp-route-id="@item?.SectionsId" style="visibility:@isVisibility">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
}