@model ProjectDipMVC.Models.ProjectDescript

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить данную задачу по секции?</h3>
<div>
    <h4>Задача по секции</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SectionName)*@
            Название секции
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SectionNumber)*@
            Номер секции
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionNumber)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Project)*@
            Проект
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.User)*@
            Редактор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjDscrptId" />
        <input type="submit" value="Да, удалить" class="btn btn-danger" /> |
        @Html.ActionLink("Назад к списку", "Index", "ProjectDescripts", new { ProjectId = Model.Project.ProjectId })
    </form>
    <span class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true">@TempData["ErrMessage"]</span>
</div>
