@model IEnumerable<ProjectDipMVC.Models.ProjectDescript>

@{
    ViewData["Title"] = "Задачи по секциям";
    var ProjectId = (int)ViewBag.ProjectId;
}

<h1>Задачи по секциям</h1>

<p>
    @Html.ActionLink("Добавить секцию", "Create", "ProjectDescripts", new {ProjectId = ViewBag.ProjectId})
</p>
    @Html.ActionLink("Назад к проектам", "Index", "Projects")
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.SectionName)*@
                Название секции
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SectionNumber)*@
                Номер секции
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Project)*@
                Проект
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.User)*@
                Редактор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjDscrptId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ProjDscrptId">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjDscrptId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
